@font-face {
    font-family: 'Fustat';
    src: url(../fonts/Fustat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}