* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: gray;
}

.header {
    background: #141414;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list {
    display: flex;
    gap: 80px;
}
.header-link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    color: #f0f0f0;    
    transition: 0.5s;
}

.header-link:hover {
    color: red;
}

.intro {
    background: url(../images/intro.jpg) no-repeat bottom /cover;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.intro-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 140px;
    color: #b31d1e;    
}

.intro-link {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 24px;
    color: #141414; 
    background: linear-gradient(135deg, #ffa600 0%, #e41818 100%);
    border-radius: 4px;
    max-width: 265px;
    width: 100%;
    height: 64px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-left {
    max-width: 540px;
    width: 100%;
}
.info-right {
    max-width: 540px;
    width: 100%;
}

.info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    color: #eb3a13;    
}

.intro-left-text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    color: #f0f0f0;    
}

.text {
    margin-top: 30px;
    margin-bottom: 40px;
}

.info {
    padding-top: 114px;
    padding-bottom: 82px;
}
.gallery {
    padding-top: 82px;
    padding-bottom: 90px;
}

.gallery-box {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.gallery-box-img {
    border-radius: 4px;
}
.about {
    padding-top: 190px;
    padding-bottom: 120px;

}
.about-text {
font-family: 550px;
font-style: 20px;
color:floralwhite;
margin-top: 30px;
margin-bottom: 152px;
}
.about-img {
    background-repeat: 4px;
    
}
@media (max-width: 1140px) {
    .gallery-box-img{
        width: 70%;
    }
    .gallery-box {
        justify-content: center;
    }
    .gallery-title{
        text-align: center;
    }
    .about-img {
        width: 100%;
    }
    .info-box {
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 900px) {
    .intro {
        height: 400px;
    }
    .intro-title {
        font-size: 40px;
    }
    .intro-link {
        font-size: 20px;
        max-width: 150px;
        height: 40px;
    }
    .intro-box {
        flex-direction: column;
        gap: 30px;
    }
}
@media (max-width: 600px) {
    .header-container {
        flex-direction: column;
        gap: 15px;
    }
    .info-right-img {
        width: 100%;
    }
    .header-list {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-text,
    .intro-left-text {
        font-size: 14px;
    }
    .title {
        font-size: 20px;
        text-align: center;
    }
}